$gray-base: #223;
$body-bg: #eef;
$brand-primary: #FFBA08;
$brand-success: #136F63;
$brand-warning: #032B43;
$brand-info: #1F60AF;
$brand-info-dark: darken($brand-info, 10%);
$brand-danger: #CE2200;
$font-family-sans-serif: 'Fira Sans', sans-serif;
$headings-font-weight: 900;
$grid-gutter-width: 40px;
$container-large-desktop: (940px + $grid-gutter-width) !default;
$navbar-height: 40px;
$siteHeaderBG: #223;
$siteHeaderActive: #445;
$navbar-inverse-bg: $siteHeaderActive;
$font-size-base: 14px;
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
$sideNavWidth: 130px;

@mixin mainPagesHeader {
  padding: 25vh 0 30vh;
  color: #fff;
  .entry-title {
    font-size: 5em;
    text-align: center;
  }
}

@mixin background-opacity($color) {
    $red: red($color);
    $green: green($color);
    $blue: blue($color);
    background: rgba($red, $green, $blue, .5);
}

html, body {
  width: 100%;
  height: 100%;
}

.site-content {
    -webkit-transition: -webkit-transform .28s, opacity .28s;
    -ms-transition: -o-transform .28s, opacity .28s;
    -o-transition: -o-transform .28s, opacity .28s;
    transition: transform .28s, opacity .28s;
}
.slide-out .site-content {
    -webkit-transform: translate3d( 0, 100px, 0 );
    -ms-transform: translate3d( 0, 100px, 0 );
    -o-transform: translate3d( 0, 100px, 0 );
    transform: translate3d( 0, 100px, 0 );
    opacity: 0;
}

.site-header {
  position: fixed;
  top: 0;
  margin-bottom: 0;
  width: $sideNavWidth;
  height: 100%;
  text-align: center;
  font-size: 1em;
  background-color: $siteHeaderBG;
  z-index: 1000;
  box-shadow: 2px 0px 40px rgba(2,2,3,0.5);

  .logo {margin: 25px 10px;}

  .menu-primary-menu-container {
    height: 65%;
    ul {
      height: 100%;
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 25%;

        &.current-menu-item {
          a {
            color: #fff;
          }
        }
        &.current-menu-item {
          background-color: $siteHeaderActive;
        }
        &.current-menu-item.menu-item-70 {
          box-shadow: inset -5px 0px 0px lighten($brand-info, 20%);
        }
        &.current-menu-item.menu-item-69 {
          box-shadow: inset -5px 0px 0px lighten($brand-primary, 20%);
        }
        &.current-menu-item.menu-item-68 {
          box-shadow: inset -5px 0px 0px lighten($brand-success, 20%);
        }
      }

    }
  }

  a {
    text-decoration: none;
    font-size: 1.2em;
    color: #a9a9b1;

    i {display: block;}
  }
}

.secondary-nav {
  padding-left: $sideNavWidth;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.secondary-nav .navbar-nav > li > a {
    color: #bbb;
    font-size: 1em;
}

.site-content {
  padding-left: $sideNavWidth;
  .row {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .entry-content {
    padding: 100px 0;
  }
}

.home {
  .jumbotron {
    background: url(images/karate.jpg) no-repeat; background-size: cover;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0;
    color: #fff;

    .jumbo-inner {
      padding: 30vh 0;
      text-shadow: 1px 1px 12px $gray-base;
      @include background-opacity($brand-primary);
    }

    img {
      width: 250px;
      filter: drop-shadow(0px 1px 4px rgba(0,0,0,.6));
    }
  }
}

.page-id-59 {
  .entry-header {
    background: $brand-info;
    @include mainPagesHeader;
  }
}

.page-id-64 {
  .entry-header {
    background: $brand-primary;
    @include mainPagesHeader;
  }
}

.page-id-66 {
  .entry-header {
    background: $brand-success;
    @include mainPagesHeader;
  }
}

.widget-wrapper {
  background: $siteHeaderActive;
  color: #fff;
}

.site-footer {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 25px;
  background: $gray-base;
}

// WooCommerce Tweaks
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.wc-tab {
  background: transparent;
  &:before,
  &:after {content: none;}
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  border-bottom-color: $body-bg;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  color: #fff;
  background-color: $brand-primary;
}

/*desktop-first*/
@media (max-width: 767px) {
  body{padding-bottom: 100px;}

  #fullpage {
    padding: 0;
  }

  .sidebar-nav {
    top: inherit;
    bottom: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    padding: 5px;
    li {
      a {
        font-size: .8em;
      }
    }
  }
}
